{% extends 'base.html.twig' %}

{% block title "Les taches" %}

{% block body %}
<div class="container">

    <ul class="list-group">
        {% for task in tasks %}
            <a class="list-group-item list-group-item-action" href="{{ url('task.show', {id: task.id, slug: task.slug}) }}">{{task.title}}</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
