{% extends 'base.html.twig' %}

{% block title "Taches : " ~ task.id %}

{% block body %}
<div class="container">
  <h1>{{ task.title }}</h1>
  <p>{{ task.description }}</p>
  <a href="{{ path('task.edit', {'id': task.id}) }}" class="btn btn-primary">Modifier</a>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Supprimer
  </button>

  {% include 'partials/modal.html.twig' %}
</div>
{% endblock %}
