{% extends 'base.html.twig' %}

{% block title "Les taches" %}

{% block body %}
<div class="container">

    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">
                <a href="{{ url('todo.show', {id:task.id, slug:task.slug}) }}">{{task.title}}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
