{% extends 'base.html.twig' %}

{% block title "Taches : " ~ id %}

{% block body %}
<div class="container">
  <h1>{{ slug|upper }}</h1>
  <p>{{ description }}</p>
  <img src="{{ asset('images/home.jpg') }}" class="card-img-top" alt="Image d'accueil">
</div>
{% endblock %}
