{% extends 'base.html.twig' %}

{% block title "Les taches" %}

{% block body %}
<div class="container">

    <ul class="list-group">
        {% for project in projects %}
            <a class="list-group-item list-group-item-action" href="{{ url('project.show', {id: project.id}) }}">{{project.name}} (Tache : {{project.taskCount}})</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
